<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-sm-offset-4 col-md-offset-4">
      <h2>Mission Control</h2>
      <hr>
      <button class="btn btn-primary" (click)="announce()">Announce mission</button>
      <my-astronaut *ngFor="let astronaut of astronauts"
                    [astronaut]="astronaut">
      </my-astronaut>
      <h3>History</h3>
      <ul>
        <li *ngFor="let event of history">{{event}}</li>
      </ul>
      <div>
        <h3> sibling Comunication example</h3>
        <app-sibling> </app-sibling>
      </div>
    </div>
  </div>
</div>
