<!--<script src="https://js.stripe.com/v3/"></script>
<div>
  <form>
    <label>
      <input name="cardholder-name" class="field is-empty" placeholder="Jane Doe" />
      <span><span>Name</span></span>
    </label>
    <label>
      <input class="field is-empty" type="tel" placeholder="(123) 456-7890" />
      <span><span>Phone number</span></span>
    </label>
    <label>
      <div id="card-element" class="field is-empty"></div>
      <span><span>Credit or debit card</span></span>
    </label>
    <button type="submit">Pay $25</button>
    <div class="outcome">
      <div class="error" role="alert"></div>
      <div class="success">
        Success! Your Stripe token is <span class="token"></span>
      </div>
    </div>
  </form>
</div>
<br>
<br>
<br>-->
<div style="text-align:center;padding-bottom:20px">
  <div class="container">
    <div class="row">
      <h2>calculate 2 Power 10 value</h2>
      <p>Super power boost: {{2 | calExponent: 10}}</p>
    </div>
    <div class="row">
      <div class="panel panel-defoult">
        <div class="panel panel-head">
          <h2>Power Boost Calculator</h2>
        </div>
        <div class="col-xs-6">Normal power: <input [(ngModel)]="power"></div>
        <div class="col-xs-6">Boost factor: <input [(ngModel)]="factor"></div>
        <div>
          Super Hero Power: {{power | calExponent: factor}}
        </div>
      </div>
    </div>
    <div class="row">
      <h2>Async Hero Message and AsyncPipe</h2>
      <p>Message: {{ message$ | async }}</p>
      <button (click)="resend()">Resend</button>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>example for :host, host /deep/ && :host-context</h2>
        <div [class.active]="xyz"> display the class dinamically</div>
        <br>
        <!--<form class="example-form">
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Email" [formControl]="emailFormControl">
            <md-error *ngIf="emailFormControl.hasError('pattern')">
              Please enter a valid email address
            </md-error>
            <md-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </md-error>
          </md-input-container>
        </form>-->
        <!--[ngClass]="{'showLifts': isBtnActive}"-->
      </div>
    </div>
  </div>
</div>
<script>
  /*var stripe = Stripe('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
   var elements = stripe.elements();

   var card = elements.create('card', {
   iconStyle: 'solid',
   style: {
   base: {
   iconColor: '#8898AA',
   color: 'white',
   lineHeight: '36px',
   fontWeight: 300,
   fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
   fontSize: '19px',

   '::placeholder': {
   color: '#8898AA',
   },
   },
   invalid: {
   iconColor: '#e85746',
   color: '#e85746',
   }
   },
   classes: {
   focus: 'is-focused',
   empty: 'is-empty',
   },
   });
   card.mount('#card-element');

   var inputs = document.querySelectorAll('input.field');
   Array.prototype.forEach.call(inputs, function(input) {
   input.addEventListener('focus', function() {
   input.classList.add('is-focused');
   });
   input.addEventListener('blur', function() {
   input.classList.remove('is-focused');
   });
   input.addEventListener('keyup', function() {
   if (input.value.length === 0) {
   input.classList.add('is-empty');
   } else {
   input.classList.remove('is-empty');
   }
   });
   });

   function setOutcome(result) {
   var successElement = document.querySelector('.success');
   var errorElement = document.querySelector('.error');
   successElement.classList.remove('visible');
   errorElement.classList.remove('visible');

   if (result.token) {
   // Use the token to create a charge or a customer
   // https://stripe.com/docs/charges
   successElement.querySelector('.token').textContent = result.token.id;
   successElement.classList.add('visible');
   } else if (result.error) {
   errorElement.textContent = result.error.message;
   errorElement.classList.add('visible');
   }
   }

   card.on('change', function(event) {
   setOutcome(event);
   });

   document.querySelector('form').addEventListener('submit', function(e) {
   e.preventDefault();
   var form = document.querySelector('form');
   var extraDetails = {
   name: form.querySelector('input[name=cardholder-name]').value,
   };
   stripe.createToken(card, extraDetails).then(setOutcome);
   });*/
</script>
